<div layout="column" layout-padding style="width: 100vw; height: 100vh;">
  <div class="space-bot textCenter">
    <h1>Create Group</h1>
    <md-divider></md-divider>
  </div>
  <form class="form-register" name="register" novalidate>
	  <div class="input-field" style="text-align: center;">
      <input id="group-name" type="text" class="validate" required ng-model="$groupCreate.group.name">
      <label for="group-name">Group Name</label>
    </div>
    <div class="space-top textCenter">
      <md-button class="md-raised md-primary waves-effect waves-light" ng-click="$groupCreate.create()">
        Create
      </md-button>
      <md-button class="md-raised md-primary waves-effect waves-light">
        Cancel
      </md-button>
    </div>
  </form>
</div>
